@import "mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');



main {
  background-color: #091f20;
  height: 100%;
}

.h1-heading {
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(5px);
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
  border-radius: 50%;
  font-family: 'Playfair Display', serif;
  position: relative;
  @include desktop {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    font-size: 46px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff2e;
    transform: translate3d(-11px, 5px, 0px);
    border-radius: 50%;
  }
}
