@import "mixin.scss";

main {
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(60,145,149,1) 12%, rgba(59,122,56,1) 49%, rgba(35,77,60,1) 70%, rgba(17,44,45,1) 87%) no-repeat;
  height: 100%;
}

.h1-heading {
  text-align: center;
  @include desktop {
    padding: 40px 0;
    font-size: 46px;
  }
}