@import "mixin.scss";


main {

}
.search-box {
  @include tablet {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 24px;
  }
  @include desktop {
    gap: 32px;
  }
}